.create-task-wrapper {
  height: 100vh;
  display: flex;
}

.create-task-box {
  margin: auto;
  width: 500px;
  padding: 30px;
  background-color: #edf4ff;
  border-radius: 5px;

  h1 {
    font-size: 2.1em;
    font-weight: bold;
    margin: 12px 0;
  }

  p {
    margin: 7px 0;
  }

  button {
    margin-top: 11px;
  }
}

.create-task-form {
  margin-top: 20px;
  width: 100%;
}
