.sign-in-wrapper {
  height: 100vh;
  display: flex;
}

.sign-in-box {
  margin: auto;
  width: 35%;
  padding: 30px 100px;
  background-color: #edf4ff;

  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }

  p {
    margin: 5px 0 16px;
  }
}

.sign-in-box :global {
  .next-input {
    width: 95%;
  }
}

.sign-up-link {
  text-transform: uppercase;
}
