.header-wrapper {
  border-bottom: 3px solid #757c87;

  h1 {
    color: #edf4ff;
    font-size: 2em;
    font-weight: bold;
  }
}

.header-wrapper :global {
  .next-icon-first {
    padding-bottom: 3px;
  }
}

.header-box {
  width: 50%;
}

.icon-text {
  text-transform: uppercase;
}

.exit-icon {
  color: #edf4ff;
  font-weight: bold;
  padding: 12px;
  margin-left: 10px;
}
