@import '~@alifd/next/reset.scss';

body {
  -webkit-font-smoothing: antialiased;
  background-color: #434e5e;
  font-family: Palatino, sans-serif;

  .next-form-item-help {
    font-size: 13px;
  }

  .next-input.next-medium {
    input {
      font-size: 15px;
    }
  }
}
